{:description "Lifecycle management for the model and HTTP server."
 :functions [fukan.infra.model/load-model
             fukan.infra.model/get-model
             fukan.infra.model/refresh-model
             fukan.infra.model/get-src
             fukan.infra.server/start-server
             fukan.infra.server/stop-server
             fukan.infra.server/running?
             fukan.infra.server/get-port]}
